
.sidebar {
    position: fixed;
    margin-top: 80px;
    width: 15rem;
    height: 93vh;
    border-right: solid 2px#323232;
    transition: 300ms ease;
  }

  .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 300ms ease;
  }

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #23232e;
}

.link-text1 {
    font-family: "Overpass";
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: -1rem;
    font-size: 17px;
    color: white;
  }

.link-text {
    font-family: "Overpass";
    font-weight: 100;
    letter-spacing: 1px; 
    margin-left: -1rem;
    font-size: 17px;
    color: white;
  }

.nav-link svg{
    width: 30px;
    height: auto;
    margin: 0 3rem;
    color: #ef8800;
    flex-shrink: 0;
  }

.nav-item:first-child{
    margin-top: 3rem;
    
}
.nav-item{
    width: 100%;
    margin-top: 2rem;
}
.top-nav {
  border-bottom: solid 1px #323232;
  border-radius: 20px;
  height: 648px;
}
.bottom-nav {
  height: 40vh;
  border: solid 1px #323232;
  border-radius: 20px;
}

.bottom-nav p{
  position: relative;
  top: 175px;
  filter: grayscale(100%) opacity(0.7);
  
}